---
import Layout from "../layouts/Layout.astro";
import Pokemon from "../components/Pokemon";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-3xl font-bold">Lista de pokemones</h1>
    <Pokemon client:load />
  </main>
</Layout>
